body{
        background-color: black; }


h2 {
  margin-top: 50px;
  font-size: 50px;
  font-family: 'Ubuntu', sans-serif;
  text-align: center;
 color: rgb(255, 59, 59);
z-index: -1;
background-color: transparent;
}


a {
    text-decoration: none;
    color: black;
    font-size: 25px;
    font-family: 'Ubuntu', sans-serif;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 7px;

}
  
h1 {
  margin-top: 100px;
  font-size: 100px;
  font-family: 'Ubuntu', sans-serif;
  text-align: center;
  color: rgb(255, 59, 59);
z-index: -1;
background-color: transparent;
}

#cv{
  display: block;
  position: absolute;
  top : 0;
  left: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
  
}

body, html
{
    margin: 0; padding: 0; height: 100%; overflow: hidden;
}


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: transparent;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #000000;
}

@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap');

button {
    width: 200px;
    height: 48px;
    background-color: rgb(255, 59, 59);
    border: none;
    border-radius: 8px;
    font-family: 'Ubuntu', sans-serif;
    display: grid;
    float: left;
    margin-left: 5px;
    margin-top: 5px;
    margin-right: 5px;
}

a {
text-decoration: none;
color: black;
font-size: 25px;
font-family: 'Ubuntu', sans-serif;
align-items: center;
justify-content: center;
text-align: center;
margin: 7px;

}

body {
	background-color: black;
	color: white;
	font-family:  'Ubuntu', sans-serif;
	border-radius: 8px;
}

.container {
	padding: 20px;
	border-radius: 8px;
}

.box {
	margin: auto;
	background-color: rgb(0, 0, 0);
	padding: 10px;
	width: 400px;
	border-radius: 8px;
}

#glist {
	overflow-x: hidden;
	overflow-y: scroll;
	width: 400px;
	height: 520px;
	padding: 0;
	text-align: center;
	border-radius: 8px;
}

#gsearchbar {
	outline: none;
	width: 374px;
	font-size: 20px;
	border: 3px solid white;
	padding: 12px;
	margin-bottom: 10px;
	transition: 0.2s ease;
	border-radius: 7px;
	text-align: center;
	background-color: black;
	color: white;
	border: 3px, solid;
}


#glist h2 {
	display: block;
	color: white;
	font: 18px;
	border: 1px solid #060606;
	margin: -3px 0 0 0;
	background-color: #060606;
	padding: 12px;
	font-weight: bold;
	user-select: none;
	border-radius: 8px;
}

#glist a {
	display: block;
	text-decoration: inherit;
	color: rgb(0, 0, 0);
	font-size: 18px;
	border: 1px solid #000000;
	margin-top: 3px;
	background-color: #ff3b3b;
	padding: 14px;
	transition: 0.2s ease;
	border-radius: 12px;
}

#glist a:hover {
	background-color: #ff3b3b;
	text-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
	border-radius: 8px;
}

h3 {
	margin-top: 50px;
	font-size: 50px;
	font-family: 'Ubuntu', sans-serif;
	text-align: center;
   color: rgb(255, 59, 59);
}


#particles-js {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(#000000, #121212);
    background-size: cover;
    z-index: 1;
}

.text {
	position: absolute;
	top: 50%;
	right: 50%;
	transform: translate(50%,-50%);
	color: $text;
	max-width: 90%;
	padding: 2em 3em;
	background: rgba(0, 0, 0, 0.4);
	text-shadow: 0px 0px 2px #131415;
	font-family: 'Open Sans', sans-serif;
}

