  h2 {
  margin-top: 50px;
  font-size: 50px;
  font-family: 'Ubuntu', sans-serif;
  text-align: center;
 color: rgb(255, 59, 59);
}
body{
    background-color: black;
}
button {
    width: 220px; 
    height: 40px;
    border-radius: 12px;
    background-color: #1F51FF;
    font-family: Ubuntu, sans-serif;
    border: none;
}
button:hover {
    background-color: #ff0000;
